:root {
  --hero-section-background-color: #b0733b;
  --cards-section-background-color-writing: #9C211E;
  --cards-section-background-color-knowledge: #3C9CC5;
  --team-section-background-color: #4739C8;

  --paragraph-section-background-color-why-us: #3C9CC5;
  --paragraph-section-background-color-advertising: #4739C8;
  --paragraph-section-background-color-chatbots: #3C9CC5;
  --paragraph-section-background-color-ai-marketing: #4739C8;
  --paragraph-section-background-color-automations: #3C9CC5;
  --paragraph-section-background-color-versatility: #4739C8;
  --paragraph-section-background-color-worked-with: #3C9CC5;
}